
<div *ngFor = "let item of pro" class="">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h3 class="display-4">{{item.name}}</h3>

      <div class="row">
        <div class="col-6">
          <img src="{{item.photo}}" alt="">
        </div>
        <div class="col-6" >
          <ul>
            <li>Precio: {{item.price}}</li>
            <li>Unidades disponibles: {{item.units}}</li>
          </ul>
        </div>
      </div>

      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" [routerLink] = "['../../home']">Atrás</button>
      </div>
    </div>
  </div>

</div>
