/* You can add global styles to this file, and also import other style files */
.container{
  /*background-image: url("./assets/login-fondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid yellow;*/
}
